<h2 class="text-center">新規グループ作成</h2>
<div class="row justify-content-center">
<% if @group.errors.any? %>
  <%= @group.errors.count %>件のエラーが発生しました
  <ul>
    <% @group.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>


<div class="row justify-content-center">
<%= form_with model: @group, url: groups_path, method: :post do |f| %>
<p>グループ名</p>
<%= f.text_field :group_name %>
<p>グループID</p>
<%= f.text_field :group_code %>
<p>グループパスワード</p>
<%= f.password_field :password %>

<%= f.submit '新規グループを作成する', class:"btn btn-success" %>
<% end %>
</div>
