<h2 class="text-center">みんなの予定</h2>

<h4>みんなのお知らせ</h4>
<!--お知らせ一覧-->
<!--< @news.each do |news| %>-->
<!--<p>投稿者:<= news.member.name %></p>-->
<!--<p>タイトル:<= news.title %></p>-->
<!--<p>お知らせ内容:<= news.message %></p>-->
<!--<p>投稿日<= news.created_at %></p>-->
<!--< end %>-->
<!--<= paginate news %>-->


<div class="container px-5 px-sm-0">
<div class="row">


<div class="col-md-3">
<!--お知らせ登録-->
<p>お知らせを投稿する</p>
<%= form_with model: @news, url: news_create_path do |f| %>
<p>タイトル</p>
<%= f.text_field :title %>
<p>内容</p>
<%= f.text_area :message %>
<%= f.submit 'お知らせを投稿', class:"btn btn-success" %>
<% end %>

</div>


<div class="col-md-8 offset-md-1">

<%= link_to "予定を登録する", my_schedules_path %>

<%= month_calendar do |date| %>
  <%= date.day %>
  <% my_schedules = @my_schedules.search_schedule(date) %>
  <% my_schedules.each do |my_schedule| %>
    <p>朝食：<% if my_schedule.morning_select %>
       <!--trueの場合-->
       必要
       <% else %>
       <!--falseの場合-->
       不要
       <% end %>
    </p>
    <p>昼食：<% if my_schedule.lunch_select %>
      <!--trueの場合-->
       必要
       <% else %>
       <!--falseの場合-->
       不要
       <% end %>
    </p>
    <p>夜食：<% if my_schedule.dinner_select %>
      <!--trueの場合-->
       必要
       <% else %>
       <!--falseの場合-->
       不要
       <% end %>
    </p>
　　<%= link_to "スケジュール詳細", members_schedule_details_path %>
    <%= my_schedule.supplement %>
  <% end %>
<% end %>

</div>
</div>
</div>