<h2 class="text-center">みんなの予定</h2>


<!--お知らせの投稿があった場合に表示する-->
<% if @news_all.present? %>
<h4 class="text-center">★みんなのお知らせ★</h4>


<table class="table table-dark">
  <tr>
    <td>投稿者</td>
    <td>タイトル</td>
    <td>お知らせ内容</td>
    <td>投稿日</td>
    <td></td>
  </tr>
  <tbody>
 <% @news_all.each do |news| %>
      <tr>
      <td><%= news.member.name %></td>
      <td><%= news.title %></td>
      <td><%= news.message %></td>
      <td><%= news.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      <td><%# if news.id = current_member.news_id %>
          <%= link_to "投稿を削除する", news_create_path(news.id), method: :delete, data: {confirm: "本当に消してよろしいですか？"}, class:"btn btn-dark" %></td>
          <%# end %>
 <% end %>
 <%= paginate @news_all %>
  </tbody>
</table>
<% end %>


<div class="container px-5 px-sm-0">
<div class="row">


<div class="col-md-3">
<!--お知らせ登録-->
<h4>★お知らせを投稿★</h4>
<%# if @news.errors.any? %>
  <%#= @news.errors.count %>
  <!--件のエラーが発生しました-->
  <!--<ul>-->
    <%# @news.errors.full_messages.each do |message| %>
      <!--<li>-->
        <%#= message %>
        <!--</li>-->
    <%# end %>
  <!--</ul>-->
<%# end %>
<%= form_with model: @news, url: news_create_path do |f| %>
<p>タイトル</p>
<%= f.text_field :title %>
<p>内容</p>
<%= f.text_area :message %>
<%= f.submit 'お知らせを投稿', class:"btn btn-success" %>
<% end %>

</div>


<div class="col-md-8 offset-md-1">

<h4>★みんなの予定★</h4>
<%= link_to "予定を登録する", my_schedules_path, class:"btn btn-primary" %>

<%= month_calendar do |date| %>
  <%= date.day %>
  <% my_schedules = @my_schedules&.search_schedule(date) %>

    <% morning_select = @my_schedules.where(start_date: date, morning_select: true) %>
    <% lunch_select = @my_schedules.where(start_date: date, lunch_select: true) %>
    <% dinner_select = @my_schedules.where(start_date: date, dinner_select: true) %>


    <% if morning_select.present? %>
      <p>朝食:<%= morning_select.size %>名</p>
    <% end %>
    <% if lunch_select.present?  %>
      <p>昼食:<%= lunch_select.size %>名</p>
    <% end %>
    <% if dinner_select.present?  %>
      <p>夕食:<%= dinner_select.size %>名</p>
    <% end %>
    <% if morning_select.present? ||  lunch_select.present? || dinner_select.present? %>
　　  <%= link_to "詳細", members_schedule_details_path(date), class:"btn btn-info" %>
　　<% end %>
<% end %>

</div>
</div>
</div>
