<h1>スケジュール編集</h1>

<!--登録したスケジュールを編集する機能-->

<%= form_with model: @my_schedule, url: my_schedule_path, method: :patch do |f| %>

<p>日付を選択</p>
<div class ="input-date">
  <%= f.date_field :start_date %>
</div>

<p>スケジュールを選択</p>
<p>◆朝食はいる？</p>
<div name="morning_select">
  <%= f.radio_button :morning_select, true %>
  <%= f.label :morning_select, "必要" %>
  <%= f.radio_button :morning_select, false %>
  <%= f.label :morning_select, "不要" %>
</div>


<p>◆昼食はいる？</p>
<%= f.radio_button :lunch_select, true %>
<%= f.label :lunch_select, "必要" %>
<%= f.radio_button :lunch_select, false %>
<%= f.label :lunch_select, "不要" %>

<p>◆夕食はいる？</p>
<%= f.radio_button :dinner_select, true %>
<%= f.label :dinner_select, "必要" %>
<%= f.radio_button :dinner_select, false %>
<%= f.label :dinner_select, "不要" %>

<p>◆コメント記入</p>
<%= f.text_area :supplement %>

<!--スケジュールの変更-->
<%= f.submit 'スケジュールを変更する', class:"btn btn-primary" %>
<% end %>