<h2 class="text-center py-5">スケジュール編集</h2>

<!--登録したスケジュールを編集する機能-->
<div class="text-center">
<%= form_with model: @my_schedule, url: my_schedule_path, method: :patch do |f| %>

<table class="table">
  <tbody>

   <tr>
     <th class="table-active">日付を選択</th>
     <th>
       <div class ="input-date">
       <%= f.date_field :start_date %>
       </div>
      </th>
   </tr>

   <tr>
     <th class="table-active">◆朝食はいる？</th>
     <th>
       <%= f.radio_button :morning_select, true %>
       <%= f.label :morning_select, "必要" %>
       <%= f.radio_button :morning_select, false %>
       <%= f.label :morning_select, "不要" %>
      </th>
   </tr>

   <tr>
     <th class="table-active">◆昼食はいる？</th>
     <th>
       <%= f.radio_button :lunch_select, true %>
       <%= f.label :lunch_select, "必要" %>
       <%= f.radio_button :lunch_select, false %>
       <%= f.label :lunch_select, "不要" %>
     </th>
   </tr>


   <tr>
     <th class="table-active">◆夕食はいる？</th>
     <th>
       <%= f.radio_button :dinner_select, true %>
       <%= f.label :dinner_select, "必要" %>
       <%= f.radio_button :dinner_select, false %>
       <%= f.label :dinner_select, "不要" %>
      </th>
   </tr>

   <tr>
     <th class="table-active">◆コメント記入</th>
     <th>
       <%= f.text_area :supplement %>
      </th>
   </tr>

   </tbody>
</table>
<!--スケジュールの変更-->
<%= f.submit 'スケジュールを変更する', class:"btn btn-primary" %>
<% end %>

</div>