<!--・自分のスケジュールの確認-->
<!--・スケジュールの登録-->
<!--をするページ-->

<h2 class="text-center py-3">マイスケジュール</h2>

<div class="container px-5 px-sm-0">
<div class="row">


<div class="col-md-3">
<!--スケジュールを登録する機能-->
<h4 class="pb-3">スケジュール登録</h4>
<%= form_with model: @my_schedule do |f| %>

<table class="table">
  <tbody>

    <tr><th class="table-warning">日付を選択</th></tr>
    <tr>
      <td><div class ="input-date">
          <%= f.date_field :start_date %>
          </div>
      </td>
    </tr>

    <tr>
      <th class="table-warning">◆朝食はいる？</th>
      <td><%= f.radio_button :morning_select, true %>
          <%= f.label :morning_select, "必要" %>
          <%= f.radio_button :morning_select, false %>
          <%= f.label :morning_select, "不要" %>
      </td>
    </tr>

    <tr>
      <th class="table-warning">◆昼食はいる？</th>
      <td><%= f.radio_button :lunch_select, true %>
          <%= f.label :lunch_select, "必要" %>
          <%= f.radio_button :lunch_select, false %>
          <%= f.label :lunch_select, "不要" %>
      </td>
    </tr>

    <tr>
      <th class="table-warning">◆夕食はいる？</th>
      <td><%= f.radio_button :dinner_select, true %>
          <%= f.label :dinner_select, "必要" %>
          <%= f.radio_button :dinner_select, false %>
          <%= f.label :dinner_select, "不要" %>
      </td>
    </tr>

    <tr>
      <th class="table-warning">◆コメント記入</th>
      <td><%= f.text_area :supplement %>
      </td>
    </tr>

  </tbody>
</table>
<!--スケジュールの登録-->
<%= f.submit 'スケジュールを登録する', class:"btn btn-primary" %>
<% end %>

</div>


<div class="col-md-8 offset-md-1">
<!--月ごとの自分のスケジュールカレンダー-->
<%= month_calendar do |date| %>
  <%= date.day %>
  <% my_schedules = @my_schedules.search_schedule(date) %>
  <% my_schedules.each do |my_schedule| %>
    <p class="h6">朝：<% if my_schedule.morning_select %>
       <!--trueの場合-->
       必要
       <% else %>
       <!--falseの場合-->
       不要
       <% end %>
       </br>
       昼：<% if my_schedule.lunch_select %>
      <!--trueの場合-->
       必要
       <% else %>
       <!--falseの場合-->
       不要
       <% end %>
      </br>
      夕：<% if my_schedule.dinner_select %>
      <!--trueの場合-->
       必要
       <% else %>
       <!--falseの場合-->
       不要
       <% end %>
       <%= link_to "詳細を見る", my_schedule_path(my_schedule.id), class:"btn btn-info mt-3" %>
    </p>
  <% end %>
<% end %>
</div>

</div>
</div>

