<h1>マイスケジュール</h1>

<h4>スケジュール登録</h4>
<%= form_with model: @my_schedule do |f| %>
<p>日付を選択</p>


<div class ="input-date">
                <input name="start_date" type="date" />
</div>
<p>スケジュールを選択</p>
<%= f.text_area :supplement %>
<%= f.submit '確認画面へ進む', class:"btn btn-primary" %>
<% end %>


<!--月ごとの自分のスケジュールカレンダー-->
<%= month_calendar do |date| %>
<%= date.day %>

  <% @my_schedules.each do |my_schedule| %>
   <%= my_schedule.morning_select %>
   <%= my_schedule.lunch_select %>
   <%= my_schedule.dinner_select %>
   <%= my_schedule.supplement %>
  <% end %>
<% end %>

