<!--・自分のスケジュールの確認-->
<!--・スケジュールの登録-->
<!--をするページ-->

<h1>マイスケジュール</h1>

<!--スケジュールを登録する機能-->
<h4>スケジュール登録</h4>
<%= form_with model: @my_schedule do |f| %>

<p>日付を選択</p>
<div class ="input-date">
  <%= f.date_field :start_date %>
</div>

<p>スケジュールを選択</p>
<p>◆朝食はいる？</p>
<div name="morning_select">
  <%= f.radio_button :morning_select, true %>
  <%= f.label :morning_select, "必要" %>
  <%= f.radio_button :morning_select, false %>
  <%= f.label :morning_select, "不要" %>
</div>


<p>◆昼食はいる？</p>
<%= f.radio_button :lunch_select, true %>
<%= f.label :lunch_select, "必要" %>
<%= f.radio_button :lunch_select, false %>
<%= f.label :lunch_select, "不要" %>

<p>◆夕食はいる？</p>
<%= f.radio_button :dinner_select, true %>
<%= f.label :dinner_select, "必要" %>
<%= f.radio_button :dinner_select, false %>
<%= f.label :dinner_select, "不要" %>

<p>◆コメント記入</p>
<%= f.text_area :supplement %>

<!--スケジュールの登録-->
<%= f.submit 'スケジュールを登録する', class:"btn btn-primary" %>
<% end %>


<!--月ごとの自分のスケジュールカレンダー-->
<%= month_calendar do |date| %>
  <%= date.day %>
  <% my_schedules = @my_schedules.search_schedule(date) %>
  <% my_schedules.each do |my_schedule| %>
    <%= my_schedule.morning_select %>
    <%= my_schedule.lunch_select %>
    <%= my_schedule.dinner_select %>
    <%= my_schedule.supplement %>
  <% end %>
<% end %>

