<h1>◯◯のスケジュール詳細</h1>
<p>日付</p>
<%= @my_schedule.start_date %>
<p>スケジュール</p>
<%= @my_schedule.morning_select %>
<%= @my_schedule.lunch_select %>
<%= @my_schedule.dinner_select %>
<p>コメント</p>
<%= @my_schedule.supplement %>

