<h1><%= @member.name %>のスケジュール詳細</h1>

<table class="table table-bordered">
    <tbody>

    <tr>
        <th>日付</th>
        <th><%= @my_schedule.start_date %></th>
    </tr>

    <tr>
        <th>スケジュール</th>
        <th>
            <%= @my_schedule.morning_select %></br>
            <%= @my_schedule.lunch_select %></br>
            <%= @my_schedule.dinner_select %>
        </th>
    </tr>

    <tr>
        <th>コメント</th>
        <th><%= @my_schedule.supplement %></th>
    </tr>
　　 </tbody>
</table>

<h4>みんなからのメッセージ</h4>