<h2 class="text-center pt-3"><%= @member.name %>のスケジュール詳細</h2>

<div class="row justify-content-center">
<%= link_to "スケジュールを編集する", edit_my_schedule_path, class:"btn btn-primary mb-3" %>
<%= link_to "スケジュールを削除する", my_schedule_path(@my_schedule.id), method: :delete, data: {confirm: "本当に消してよろしいですか？"}, class:"btn btn-dark ml-3 mb-3" %>
<%= link_to "マイスケジュールに戻る", my_schedules_path, class:"btn btn-info ml-3 mb-3" %>
</div>

<table class="table">
    <tbody>

    <tr>
        <th class="table-active"><div class="text-center">日付</div></th>
        <th><%= @my_schedule.start_date %></th>
    </tr>

    <tr>
        <th class="table-active"><div class="text-center">スケジュール</div></th>
        <th>
            朝食：<% if @my_schedule.morning_select %>
       <!--trueの場合-->
       必要
       <% else %>
       <!--falseの場合-->
       不要
       <% end %>
       </br>
       昼食：<% if @my_schedule.lunch_select %>
      <!--trueの場合-->
       必要
       <% else %>
       <!--falseの場合-->
       不要
       <% end %>
      </br>
      夜食：<% if @my_schedule.dinner_select %>
      <!--trueの場合-->
       必要
       <% else %>
       <!--falseの場合-->
       不要
       <% end %>
        </th>
    </tr>

    <tr>
        <th class="table-active"><div class="text-center">コメント</div></th>
        <th><%= @my_schedule.supplement %></th>
    </tr>

　　 </tbody>
</table>
<div class="row justify-content-center  mb-3">♥<%= @my_schedule.favorites.count %> OK</div>
