<!DOCTYPE html>
<html>
  <head>
    <title>GohanDosuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--simple_calendarを読み込むには下記も読み込む必要があるため、追記-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top"> <!--ヘッダーを画面上部へ固定-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light"> <!--navバーの作成-->
        <a class="navbar-brand" href="#">
        <!--アプリケーションのiconを表示-->
        <img src="/gohan_dosuru/app/assets/images/gohandosuru_icon.PNG" width="50" height="50" class="d-inline-block align-top" alt="">
        <!--アプリケーション名を表示-->
          GOHAN DOSURU?
        </a> <!--アプリタイトル-->
        <!--ハンバーガーメニューの作成-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
      <!--メンバーサインイン後のヘッダー-->
        <% if member_signed_in? %>
          <% if current_member.group_id %>
            <li class="nav-item active">
              <a class="nav-link"><%= link_to "グループ情報を見る", group_path(current_member.group_id) %></a>
            </li>
          <% end %>
        <li class="nav-item active">
          <a class="nav-link"><%= link_to "マイページ", members_show_path %></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"><%= link_to "マイスケジュール", my_schedules_path %></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"><%= link_to "みんなの予定", members_schedules_path %></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"><%= link_to "ログアウト", destroy_member_session_path, method: :delete %></a>
        </li>

        <% else %>
        <!--メンバーログアウト後のヘッダー-->
        <li class="nav-item active">
          <a class="nav-link"><%= link_to "メンバーログイン", new_member_session_path %></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"><%= link_to "新規メンバー登録", new_member_registration_path %></a>
        </li>
        <% end %>
        </ul>
      </div>
　    </nav>
    </header>

    <%= yield %>
    <footer>
      <!--アプリのロゴ画像-->
      <%= image_tag "gohandosuru_logo.PNG" %>
    </footer>
  </body>
</html>
