<!DOCTYPE html>
<html>
  <head>
    <title>GohanDosuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--simple_calendarを読み込むには下記も読み込む必要があるため、追記-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if member_signed_in? %>
      <!--メンバーサインイン後のヘッダー-->
      <li><%= link_to "グループ情報を見る", group_path(current_member.group_id) %></li>
      <li><%= link_to "マイページ", members_show_path %></li>
      <li><%= link_to "マイスケジュール", my_schedules_path %></li>
      <li><%= link_to "みんなの予定", members_schedules_path %></li>
      <li><%= link_to "ログアウト", destroy_member_session_path, method: :delete %></li>

      <% else %>
      <!--メンバーログアウト後のヘッダー-->
      <li><%= link_to "メンバーログイン", new_member_session_path %></li>
      <li><%= link_to "新規メンバー登録", new_member_registration_path %></li>
      <% end %>

    </header>

    <%= yield %>
    <footer>
      <!--アプリのロゴ画像-->
      <%= image_tag "gohandosuru_logo.PNG" %>
    </footer>
  </body>
</html>
