<!--自分のmember登録情報を確認、編集するページ-->

<h2 class="text-center">マイページ</h2>

<table class="table">
  <tbody>
  <tr>
    <th class="table-active"><div class="text-center">あなたの名前</div></th>
    <th><%= current_member.name %></th>
    <th></th>
  </tr>
  <tr>
    <th class="table-active"><div class="text-center">所属グループ</div></th>
    <th>
      <!--グループに所属している時のみ表示-->
      <% if member_signed_in? %>
          <% if current_member.group_id %>
      　　　　<%= @group.group_name %>
      　　<% else %>
      　　<p>未所属</p><%= link_to "グループに所属する",members_success_path, class:"btn btn-primary" %>
          <% end %>
      <% end %>
    </th>
    <th></th>
  </tr>
  <tr>
    <th class="table-active"><div class="text-center">メールアドレス</div></th>
    <th><%= current_member.email %></th>
    <th></th>
  </tr>
  <tr>
    <th class="table-active"><div class="text-center">メンバー退会フォーム</div></th>
    <th><%= link_to "メンバーを退会する", member_registration_path, method: :delete, data: {confirm: "本当に退会してよろしいですか？"}, class: "btn btn-danger"  %></th>
    <th></th>
  </tr>
  </tbody>
</table>